<!DOCTYPE html>
<html lang="az"><head>
 <meta charset="UTF-8">
 <title>Mənim Şəxsi Səhifəm</title>
</head>
<body>

 <h1>Mənim Portfoliyam</h1>
 <h2>Haqqımda</h2>
 <p>Adım[Adınız].Veb inkişaf sahəsində [təcrübə müddətiniz] illik təcrübəyə sahibəm.[Qısa şəxsi məlumat və maraqlarınız].
 <h2>Təhsil</h2>
 <ul>
  <li>[Universitetin adı]-[Dərəcə]([İllər])
  <li>[Məktəbin adı]-[Dərəcə]([İllər])
 </ul>
 <h2>İş Təcrübəsi</h2>
 <ul>
  <li>[İş yeri adı]-[Vəzifə]([İllər])
  <li>[İş yeri adı]-[Vəzifə]([İllər])
 </ul>
 <h2>Layihələr</h2>
 <ul>
  <li><strong>Layihə adı</strong>:[Qısa təsvir]
  <li><strong>Layihə adı</strong>:[Qısa təsvir]
 </ul>
 <footer>
  <p>Əlaqə üçün email:[emailiniz@nümunə.com]</p>
 </footer>

</body></html>


 

